@model Student
@{ViewBag.title = "Delete";}

<div class="container">
    <br />
    <br />
    <br />
    <h1>Are You Sure You Want To Delete @Model.FName </h1>
    <br />
    <br />
    @*using Action name*@
    @*   <form @*action="/student/Delete"*method="post"> *@
    @using (Html.BeginForm())
    {
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="submit" name="Ok" class="btn btn-danger" value="Ok" />
        <a class="btn btn-info" href="/">Back</a>
    }

   @* </form>*@
    @* using  DeleteStd with Get*@
    @*<a href="/student/DeleteStd/@Model.Id" class="btn btn-danger">OK</a>*@
    <br />
    <br />
    <h2>The Member Details:</h2>
    <br />
    <h2>
        @*@Html.DisplayNameFor(w => w.FName):   @Model.FName*@
        @Html.DisplayNameFor(w => w.FName):   @Html.DisplayFor(e => e.FName)

    </h2><br />
    <h2>
        @Html.DisplayNameFor(q => q.LName):   @Html.DisplayFor(r => r.LName)
    </h2><br />
    <h2>

        @Html.DisplayNameFor(q => q.Age):   @Html.DisplayFor(y => y.Age)
    </h2><br />
</div>
