@model Student
@{ViewBag.title = "Details";}

<div class="container">
    <br />
    <br />
    <br />
    <br />

    <h1>
        @Html.DisplayNameFor(q => q.Id):   @Html.DisplayFor(e => e.Id)
    </h1><br />
    <h1>
        @Html.DisplayNameFor(q => q.FName):   @Html.DisplayFor(r => r.FName)
    </h1><br />
    <h1>
        @Html.DisplayNameFor(w => w.LName):   @Html.DisplayFor(q => q.LName)
    </h1><br />
    <h1>

        @Html.DisplayNameFor(w => w.Age):   @Html.DisplayFor(y => y.Age)
    </h1><br />
    <a class="btn btn-info" href="/">Back</a>
</div>

