@*@model System.Array*@
@model Dictionary<string,int> 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <div> 
        <h1>
            @ViewBag.mostafa
            @ViewBag.ahmed
            @ViewBag.alaa 
            <br />
            <br />
            @*@foreach (var item in Model)
            {
                @item
            }*@

            @foreach (KeyValuePair<string,int> item in Model)
            {
                <p>@item.Key : @item.Value </p>
            }
        </h1>
    </div>
</body>
</html>
